/* 标题下划线 */

#bodyx {
    margin-top: 80px;
    padding-bottom: 80px;
}

.hd .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

#content-wrapper {
    font-size: 16px;
    font-weight: 200;
    user-select: text;
    cursor: auto;
}

#content-wrapper p {
    font-size: inherit;
    font-weight: inherit;
}

#share {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share {
    position: fixed;
    right: 30px;
    bottom: 0;
}

#share .social-share {
    display: flex;
    flex-direction: column;
}

#gohome {
    position: fixed;
    width: 30rem;
    height: 10rem;
    top: -4rem;
    left: -10rem;
    background-color: rgb(68, 68, 179);
    transform: rotate(-30deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    overflow: hidden;
}

html {
    height: 100%;
}

@media screen and (max-width: 768px) {
    #content-wrapper,
    p,
    li {
        width: 100%;
        font-size: 0.8rem !important;
    }
    #share {
        right: 0px;
    }
    #gohome {
        width: 18rem;
        height: 10rem;
        top: -5rem;
        left: -9rem;
        position: fixed;
        font-size: 1rem;
    }
}


/* td {
    white-space: nowrap;
} */

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    color: #8b8686;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* animation: move 10s linear infinite; */
}

@keyframes move {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-110%, 0);
    }
    /* 50% {
        transform: translate(-50%, 0);
    }
    75% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    } */
}