.hd .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

#content-wrapper {
    font-size: 16px;
    font-weight: 200;
    user-select: text;
    cursor: auto;
}

@media screen and (max-width: 800px) {
    #content-wrapper {
        width: 90% !important;
    }
}

#content-wrapper p {
    font-size: inherit;
    font-weight: inherit;
}

#share {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share {
    position: fixed;
    right: 30px;
    bottom: 0;
}

#share .social-share {
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

@media screen and (max-width: 768px) {
    #content-wrapper,
    p,
    li {
        width: 100%;
        font-size: 0.8rem !important;
    }
    #share {
        right: 0px;
    }
}

@media screen and (min-width: 1300px) {
    .heti table {
        min-width: 700px;
    }
    blockquote {
        min-width: 100% !important;
    }
}

blockquote {
    min-width: 91%;
    margin-left: 0 !important;
    padding-block-end: 1px !important;
}

h1.headings {
    margin-top: 60px;
}

h1.headings::before {
    content: '#';
    color: blue;
    margin-right: 6px;
}

.footer-wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}