a {
  color: #fff;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
.navdiv {
  width: 100%;
}
.hd {
  width: 55%;
  margin-left: 15%;
  height: 100%;
  margin: auto;
  cursor: pointer;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
}
.hd.logodiv {
  margin-top: 48px;
  text-align: center;
  margin-bottom: 42px;
  position: relative;
  z-index: 100;
  width: 100%;
}
.hd.logodiv img.logopng:hover {
  animation: rotated 3s ease-in-out 0s infinity;
}
.header-scroll {
  width: 100%;
  height: 12px;
  position: absolute;
  top: 50%;
  font-size: 12px;
  letter-spacing: 24px;
  transform: translate(0, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
.header-scroll::before {
  content: "判天地之美";
  position: absolute;
  left: 10px;
}
.header-scroll::after {
  content: '析万物之理';
  position: absolute;
  right: -10px;
}
@media screen and (max-width: 1000px) {
  .header-scroll {
    letter-spacing: 20px;
  }
}
.title_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: bold;
}
.logopng {
  width: 70px;
  border-radius: 50%;
}
.logot {
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.fancy {
  background-color: transparent;
  width: 100%;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 10px 0px;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}
.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: #000;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-right: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy:hover {
  color: #fff;
  background: #000;
}
.fancy:hover::before {
  width: 0.9375rem;
  background: #fff;
}
.fancy:hover .text {
  color: #fff;
  padding-right: 1.5em;
}
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.posts .replay-btn {
  background-color: #696969;
  width: 40px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 80%;
  position: absolute;
}
.post-content {
  width: 100%;
  height: 100%;
  margin: auto;
}
p {
  font-size: 18px;
  font-weight: 8000;
}
li {
  font-size: 17px;
  font-weight: 1000;
}
a {
  font-size: 20px;
}
.post-content a {
  color: #699be9;
}
.fhr {
  margin-top: 20px;
}
.highlight .gutter .hljs {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.highlight .code .hljs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.title-wrapper a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-wrapper .post-title {
  text-align: center;
  white-space: nowrap;
}
.title-wrapper .post-title p {
  font-size: 1rem;
}
.title-wrapper .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #696969;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.title-wrapper .menu-btn i {
  font-size: 17px;
}
.gutter .hljs span.line {
  display: none;
}
.highlight table td,
.highlight table th,
.highlight table tr {
  border: 0px;
  padding: 0px;
}
.highlight .code {
  width: 100%;
}
.bg_while {
  background-color: #fff;
  color: #696969;
}
.el-radio,
.el-checkbox {
  position: relative;
  font-size: 100%;
}
label.el-radio,
label.el-checkbox {
  display: block;
  cursor: pointer;
}
.el-radio>input[type="radio"],
.el-checkbox>input[type="checkbox"] {
  display: none;
}
.el-radio>input[type="radio"][disabled],
.el-checkbox>input[type="checkbox"][disabled] {
  cursor: not-allowed;
}
.el-radio>input[type="radio"]+.el-radio-style,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  cursor: pointer;
}
.el-radio>input[type="radio"]+.el-radio-style:hover:before,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:hover:before {
  border-color: #20a0ff;
}
.el-radio>input[type="radio"]+.el-radio-style:before,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  content: '';
  border: 1px solid #c0ccda;
}
.el-radio>input[type="radio"]+.el-radio-style:after,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:after {
  position: absolute;
  display: none;
  content: '';
}
.el-radio>input[type="radio"][disabled]+.el-radio-style,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style {
  cursor: not-allowed;
  color: #d3dce6;
}
.el-radio>input[type="radio"][disabled]+.el-radio-style:hover,
.el-radio>input[type="radio"][disabled]+.el-radio-style:before,
.el-radio>input[type="radio"][disabled]+.el-radio-style:after,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:hover,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:after {
  cursor: not-allowed;
}
.el-radio>input[type="radio"][disabled]+.el-radio-style:hover:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:hover:before {
  border: 1px solid #d3dce6;
  animation-name: none;
}
.el-radio>input[type="radio"][disabled]+.el-radio-style:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:before {
  border-color: #d3dce6;
}
.el-radio>input[type="radio"]:checked+.el-radio-style:before,
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:before {
  animation-name: none;
}
.el-radio>input[type="radio"]:checked+.el-radio-style:after,
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:after {
  display: block;
}
.el-radio>input[type="radio"]+.el-radio-style:before {
  border-radius: 50%;
}
.el-radio>input[type="radio"]+.el-radio-style:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: #20a0ff;
}
.el-radio>input[type="radio"]:checked+.el-radio-style:before {
  border: 1px solid #20a0ff;
}
.el-radio>input[type="radio"]:checked[disabled]+.el-radio-style:before {
  border: 1px solid #b0d7f5;
}
.el-radio>input[type="radio"]:checked[disabled]+.el-radio-style:after {
  background: #b0d7f5;
}
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:before {
  border-radius: 3px;
}
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:after {
  top: 0.15em;
  left: 0.5em;
  box-sizing: border-box;
  width: 0.4em;
  height: 0.85em;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:before {
  border: #20a0ff;
  background: #20a0ff;
}
.el-checkbox>input[type="checkbox"]:checked[disabled]+.el-checkbox-style:before {
  border: #b0d7f5;
  background: #b0d7f5;
}
/*blue theme*/
.el-radio.el-radio-blue>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-blue>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked+label:before {
  border-color: #20a0ff;
}
.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-blue>input[type="radio"]+label:after {
  background: #20a0ff;
}
.el-radio.el-radio-blue>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-blue>input[type="radio"]:checked[disabled]+label:before {
  border-color: #b0d7f5;
}
.el-checkbox.el-checkbox-blue>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-blue>input[type="radio"]:checked[disabled]+label:after {
  background: #b0d7f5;
}
/*green theme*/
.el-radio.el-radio-green>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-green>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked+label:before {
  border-color: #13ce66;
}
.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-green>input[type="radio"]+label:after {
  background: #13ce66;
}
.el-radio.el-radio-green>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-green>input[type="radio"]:checked[disabled]+label:before {
  border-color: #a1efc4;
}
.el-checkbox.el-checkbox-green>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-green>input[type="radio"]:checked[disabled]+label:after {
  background: #a1efc4;
}
/*red theme*/
.el-radio.el-radio-red>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-red>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked+label:before {
  border-color: #ff4949;
}
.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-red>input[type="radio"]+label:after {
  background: #ff4949;
}
.el-radio.el-radio-red>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-red>input[type="radio"]:checked[disabled]+label:before {
  border-color: #f9b3b3;
}
.el-checkbox.el-checkbox-red>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-red>input[type="radio"]:checked[disabled]+label:after {
  background: #f9b3b3;
}
/*yellow theme*/
.el-radio.el-radio-yellow>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked+label:before {
  border-color: #f7ba2a;
}
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-yellow>input[type="radio"]+label:after {
  background: #f7ba2a;
}
.el-radio.el-radio-yellow>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked[disabled]+label:before {
  border-color: #fbeac1;
}
.el-checkbox.el-checkbox-yellow>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked[disabled]+label:after {
  background: #fbeac1;
}
/*switch component*/
.el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
}
.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #c0ccda;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el-switch>input[type="checkbox"] {
  display: none;
}
.el-switch>input[type="checkbox"][disabled]+.el-switch-style {
  cursor: not-allowed;
  background-color: #d3dce6;
}
.el-switch>input[type="checkbox"]:checked+.el-switch-style {
  background-color: #20a0ff;
}
.el-switch>input[type="checkbox"]:checked+.el-switch-style:before {
  left: 50%;
}
.el-switch>input[type="checkbox"]:checked[disabled]+.el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-blue>input[type="checkbox"]:checked+.el-switch-style {
  background-color: #808080;
}
.el-switch.el-switch-blue>input[type="checkbox"]:checked[disabled]+.el-switch-style {
  background-color: #808080;
}
.el-switch.el-switch-green>input[type="checkbox"]:checked+.el-switch-style {
  background-color: #13ce66;
}
.el-switch.el-switch-green>input[type="checkbox"]:checked[disabled]+.el-switch-style {
  background-color: #a1efc4;
}
.el-switch.el-switch-red>input[type="checkbox"]:checked+.el-switch-style {
  background-color: #ff4949;
}
.el-switch.el-switch-red>input[type="checkbox"]:checked[disabled]+.el-switch-style {
  background-color: #f9b3b3;
}
.el-switch.el-switch-yellow>input[type="checkbox"]:checked+.el-switch-style {
  background-color: #f7ba2a;
}
.el-switch.el-switch-yellow>input[type="checkbox"]:checked[disabled]+.el-switch-style {
  background-color: #fbeac1;
}
/*define size*/
.el-radio.el-radio-sm,
.el-checkbox.el-checkbox-sm,
.el-switch.el-switch-sm {
  font-size: 85%;
}
.el-radio.el-radio-lg,
.el-checkbox.el-checkbox-lg,
.el-switch.el-switch-lg {
  font-size: 125%;
}
.breadcrumb {
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb>li {
  display: inline-block;
}
.breadcrumb a {
  font-weight: bold;
  font-size: 90%;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|";
}
.breadcrumb>.active {
  color: #777;
}
.breadcrumbhr {
  margin-top: -15px;
  margin-bottom: -15px;
}
.vcomments {
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .hd {
    width: 90%;
    margin: auto;
  }
  .posttime {
    display: none;
  }
  .postname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
